body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

#nav {
  background-color:rgb(8, 7, 7);
  width: 100%;
  height:60px;
}

#logout {
  margin-top: 10px;
}
table {
  background-color: #fefefe;
  margin: 2% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  
}
td {
  border: 1px solid;
}
input{
  width: 100%;
  border:none;
  background-color: rgb(7, 32, 32);
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 50%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  margin-top: -320px;
  margin-left: 560px!important ;
}
